[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
    dark = true      # or light = true, or omit for auto-detection

[user]
	name = Vincent
	email = llvm@viceroygroup.ca
[merge]
	conflictStyle = zdiff3
